@model BeerRater.Models.BeerDetail

@{
    ViewData["Title"] = "Delete";
}

<div class="details-container">
<h1 class="controller-header">Are you sure you want to delete @Html.DisplayFor(model => model.BeerName)?</h1>

    <hr />
<div class="details-card">

    <div class="table-text">

    <dl class="row table-text">
        <div class="details-text">
            <p><strong>@Html.DisplayNameFor(model => model.Brewery):</strong> @Html.DisplayFor(model => model.Brewery) </p>
            <p><strong>@Html.DisplayNameFor(model => model.BeerTypeName):</strong> @Html.DisplayFor(model => model.BeerTypeName) </p>
            <p><strong>@Html.DisplayNameFor(model => model.Description):</strong> @Html.DisplayFor(model => model.Description) </p>
            <p><strong>@Html.DisplayNameFor(model => model.Score):</strong> @Html.DisplayFor(model => model.Score) </p>
        </div>
    </dl>


    </div>


</div>
    
    <form  asp-action="Delete">
        <input class="btn btn-primary" type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </form>

</div>
