@model BeerRater.Models.BeerDetail

@{
    ViewData["Title"] = "Details";
}

<div class="details-container">
<h1 class="controller-header">@Html.DisplayFor(model => model.BeerName)
 Details</h1>

    <hr />
<div class="details-card">

    <div class="table-text">

    <dl class="row table-text">

        <p><strong>@Html.DisplayNameFor(model => model.Brewery):</strong> @Html.DisplayFor(model => model.Brewery) </p>
        <p><strong>@Html.DisplayNameFor(model => model.BeerTypeName):</strong> @Html.DisplayFor(model => model.BeerTypeName) </p>
        <p><strong>@Html.DisplayNameFor(model => model.Description):</strong> @Html.DisplayFor(model => model.Description) </p>
        <p><strong>@Html.DisplayNameFor(model => model.Score):</strong> @Html.DisplayFor(model => model.Score) </p>

    </dl>


    </div>


</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-primary" asp-controller="Beer" asp-action="Index">Back to List</a>
</div>
</div>
