@model IEnumerable<BeerRater.Models.BeerListItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if(TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
      
        <button type ="button" data-dismiss="alert">
            <span>&times;</span>
        </button>
            @TempData["SaveResult"]
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brewery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeerTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.BeerName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brewery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeerTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td> 
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@