@model BeerRater.Models.BreweryDetail

@{
    ViewData["Title"] = "Details";
}

<div class="details-container">
<h1 class="controller-header">@Html.DisplayFor(model => model.Name)
 Details</h1>

    <hr />
<div class="details-card">

    <div class="table-text">

    <dl class="row table-text">
        <div class="details-text">
            <p><strong>@Html.DisplayNameFor(model => model.Location):</strong> @Html.DisplayFor(model => model.Location) </p>
            <p><strong>@Html.DisplayNameFor(model => model.Description):</strong> @Html.DisplayFor(model => model.Description) </p>
        </div>
    </dl>


    </div>


</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-primary" asp-controller="Brewery" asp-action="Index">Back to List</a>
</div>
</div>


@*<h1 class="controller-header">Brewery Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
*@